.search-container{
  width: 60%;
  margin: 0 auto;
}

.header-image{
  height: 400px;
  background-size: cover;
  background-image: url('images/header.jpg');
}

.search-container form{
  width: 90%;
  margin: 0 auto;
}

.btn{
  background-color: rgb(37, 121, 37);
}

select.form-control:not([size]):not([multiple]){
  padding-right: 6em;
  margin-right: 1em;
}

.error p{
  color: rgb(163, 6, 6);
  font-weight: 700;
}

.required {
  color: rgb(163, 6, 6);
}

.btn {
  margin: 0.8em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
