.search-container{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-image{
  height: 400px;
  background-size: cover;
  background-image: url('images/restaurantbild.jpeg');
  position: relative;
  text-align: center;
  background-position: 0px -100px;
  background-attachment: fixed;
}

.search-container form{
  width: 55%;
  margin: 0px auto;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.form-container{
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.btn-light, .btn-light:hover, .btn-light:active {
  border: 1px solid black;
}

select.form-control:not([size]):not([multiple]){
  padding-right: 6em;
  margin-right: 1em;
}

.error p{
  color: rgb(163, 6, 6);
  font-weight: 700;
}

.required {
  color: rgb(163, 6, 6);
}

.btn {
  margin: 0.8em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/* Navigation Bar */
.title{
  background-color:black;
}
.title h1{
  background-color:black;
  color:white;
  padding:50px;
  height:100%;
  font-size:300%;
}
.navbar{
  background-color:white;
  border-style: solid;
  border-width: 5px;
  color:black;
  margin: 0;
}
.navbar li{
  padding:20px;
  display:flex;
  justify-content: center;
  
}
.navbar li a{
  color:black;
  font-size:150%;
  font-weight: bold;
}
/* Contact */ 
/* Footer */
footer ul{
  border-style: solid;
  border-width: 5px;
  padding:10px;
  width: 100%; 
  height: 100%;
}
footer ul li{
  list-style:none;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
