body {
  font-family: 'Montserrat', sans-serif;
}

.book h1{
  margin-top: 0.5em;
}

.admin-search{
  width: 30%;
  margin: 0 auto;
}

.header-image {
  height: 400px;
  background-size: cover;
  background-image: url("images/restaurantbild.jpeg");
  position: relative;
  text-align: center;
  background-position: 0px -100px;
  background-attachment: fixed;
}

.home-search-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-search-container form,
.search-container form {
  width: 55%;
  margin: 0px auto;
}

.form-container {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.btn-light,
.btn-light:hover,
.btn-light:active {
  border: 1px solid black;
}

select.form-control:not([size]):not([multiple]) {
  padding-right: 6em;
  margin-right: 1em;
}

.error p {
  color: rgb(163, 6, 6);
  font-weight: 700;
}

.required {
  color: rgb(163, 6, 6);
}

.btn {
  margin: 0.8em;
}

/* App */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Navigation Bar */

.title {
  background-color: black;
}

.title h1 {
  background-color: black;
  color: white;
  padding: 50px;
  height: 100%;
  font-size: 300%;
}

.navbar {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  color: black;
}

ul {
  margin-bottom: 0;
}

.navbar li {
  padding: 20px;
  display: flex;
  color: black;
  margin: 0;
  justify-content: center;
}

.navbar li a {
  color: black;
  font-size: 150%;
  font-weight: bold;
}

/* Home */

.header-image {
  height: 400px;
  background-size: cover;
  background-image: url("images/restaurantbild.jpeg");
  position: relative;
  text-align: center;
  background-position: 0px -100px;
  background-attachment: fixed;
}

.home-search-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-inline {
  justify-content: center;
}

.home-search-container form {
  width: 55%;
  margin: 0px auto;
}

.search-container {
  width: 100%;
}

.form-container {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.home {
  margin: 30px;
}

.home h1{
  margin: 20px;
}

.home p {
  text-align: justify;
  padding: 0px 30px;
}

/* Contact */

.contact {
  margin: 30px 10px 10px 10px;
}

.images-contact ul li {
  margin: 0px;
  display: inline;
  list-style: none;
}

.imagestyle {
  height: 20%;
  width: 30%;
}

.contact p {
  text-align: justify;
  margin: 10px;
  padding: 10px;
}

/* Admin */

table {
  margin-top: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th {
  border-bottom: 5px solid red;
}

td,
th {
  text-align: center;
  padding: 8px;
}

.admin {
  margin-top: 20px;
}

.btn-light,
.btn-light:hover,
.btn-light:active {
  border: 1px solid black;
}

select.form-control:not([size]):not([multiple]) {
  padding-right: 6em;
  margin-right: 1em;
}

.error p {
  color: rgb(163, 6, 6);
  font-weight: 700;
}

.required {
  color: rgb(163, 6, 6);
}

.btn {
  margin: 0.8em;
}

/* Footer */

footer ul {
  border-style: solid;
  border-width: 5px;
  padding: 10px;
  width: 100%;
  height: 100%;
}

footer ul li {
  list-style: none;
}

/* Modal */

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.underLine {
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}